.record-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.record {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}