/* @keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */

/* .spinning .record {
    animation: spin 2s linear infinite;
    animation-play-state: running
} */

.record-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: transform 0.3s ease; */
    position: relative;
    /* animation-play-state: paused */
}

.record {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}